# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the build artifacts in the repo.
# They should be uploaded to GitHub releases instead.
dist/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Sync configuration (personal settings)
sync.config.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# coverage
coverage/
